# ========== CHAT ==========

CNLP_CHAT_LOG_DIR=./logs/chat

CNLP_CHAT_MODEL=ollama/phi3

# ========== EVALUATION ==========

# Some providers supported by Inspect require API keys for inference.
# https://inspect.ai-safety-institute.org.uk/models.html#overview
OPENAI_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key
GOOGLE_API_KEY=your-api-key
MISTRAL_API_KEY=your-api-key
TOGETHER_API_KEY=your-api-key
GROQ_API_KEY=your-api-key

# Ollama is one option for running models locally. Switch out `localhost` below for the
# address of the machine where Ollama is being served.
# https://inspect.ai-safety-institute.org.uk/models.html#model-base-url
OLLAMA_BASE_URL=http://localhost:11434/v1

# Logging options.
# https://inspect.ai-safety-institute.org.uk/eval-logs.html#log-location
INSPECT_LOG_DIR=./logs/evaluation
INSPECT_LOG_LEVEL=info

# Connection management.
INSPECT_EVAL_MAX_RETRIES=10
INSPECT_EVAL_MAX_CONNECTIONS=20

# https://inspect.ai-safety-institute.org.uk/models.html#using-models
INSPECT_EVAL_MODEL=ollama/phi3